.container, header, .about-info{
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
}

/* .head{
    float: left;
} */
 
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2.5rem;
}

.name {
    align-items: center;
    margin-left: 30rem;
}
.about-info{
    align-items: end;
    margin-right: 2rem;
    justify-content: center;
}

.about{
    text-align: center;
    max-width: 50rem;
}

footer{
    margin: 0;
}